.navbar {
    display: flex;
    flex-direction: row;
    height: 3em;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100vw;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: none;
  }
  .options{
    display: flex;
    justify-content: space-around;
    

  }

.logo{
  font-size:x-large;
}

.userOption{
  margin-right: 14px;
}