.navbar {
    display: flex;
    flex-direction: row;
    height: 478px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 99vw;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .options{
    display: flex;
    justify-content: space-around;
    

  }

.logo{
  font-size:x-large;
}

