.upload.root {
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.upload .rect {
  background-color: #211e1e;
  height: 89px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1366px;
}
.upload .hero_title {
  align-items: center;
  color: white;
  display: flex;
  font: 400 50px/1.84 "Abel", Helvetica, Arial, serif;
  height: 92px;
  justify-content: center;
  left: 12px;
  position: absolute;
  text-align: center;
  top: -15.5px;
  width: 79px;
}
.upload .title {
  align-items: center;
  color: white;
  display: flex;
  font: 400 30px/3.06 "Abel", Helvetica, Arial, serif;
  height: 92px;
  justify-content: center;
  left: 264px;
  position: absolute;
  text-align: center;
  top: -11px;
  width: 65px;
}
.upload .title1 {
  align-items: center;
  color: white;
  display: flex;
  font: 400 30px/3.06 "Abel", Helvetica, Arial, serif;
  height: 92px;
  justify-content: center;
  left: 366.5px;
  position: absolute;
  text-align: center;
  top: -11px;
  width: 66px;
}
.upload .title2 {
  align-items: center;
  color: white;
  display: flex;
  font: 400 30px/3.06 "Abel", Helvetica, Arial, serif;
  height: 92px;
  justify-content: center;
  position: absolute;
  right: 45.5px;
  text-align: center;
  top: -11px;
  width: 78px;
}
.upload .flex_col {
  display: flex;
  flex-direction: column;
  margin: 137.5px auto 93px;
  position: relative;
  width: 81.11%;
}
.upload .medium_title {
  align-items: center;
  color: black;
  display: flex;
  font: 700 24px/1.5 "Poppins", Helvetica, Arial, serif;
  justify-content: center;
  margin: 0px 0px 0px 38.58%;
  text-align: center;
  width: 220px;
}
.upload .content_box2 {
  display: flex;
  flex-direction: column;
  min-height: 501px;
  position: relative;
}
.upload .rect1 {
  background-color: white;
  bottom: 0px;
  height: 501px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1108px;
}
.upload .content_box1 {
  bottom: 243px;
  display: flex;
  flex-direction: column;
  height: 245px;
  left: 416px;
  position: absolute;
  right: 406px;
  top: 13px;
  width: 286px;
}
@media (max-width: 1199px) {
  .upload .content_box1 {
    left: 34.09%;
  }
}
.upload .medium_title1 {
  align-items: center;
  color: black;
  display: flex;
  font: 700 24px/1.5 "Poppins", Helvetica, Arial, serif;
  height: 36px;
  left: 64px;
  position: absolute;
  top: 0px;
  width: 136px;
}
.upload .box {
  border-radius: 24px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  height: 210px;
  left: 0px;
  outline: 2px dashed #e2e6ea;
  outline-offset: -2px;
  position: absolute;
  top: 35px;
  width: 286px;
}
.upload .paragraph {
  color: #242634;
  display: flex;
  font: 400 14px/1.2 "Abel", Helvetica, Arial, serif;
  justify-content: center;
  margin: 88px auto;
  opacity: 0.5;
  text-align: center;
  width: 137px;
}
.upload .flex_row {
  align-items: center;
  display: flex;
  gap: 0px 10px;
  height: 90.5px;
  justify-content: space-between;
  left: 76px;
  position: absolute;
  top: 263.5px;
  width: 946px;
}
@media (max-width: 1199px) {
  .upload .flex_row {
    left: -2.85%;
  }
}
@media (max-width: 991px) {
  .upload .flex_row {
    width: 113.86%;
  }
}
@media (max-width: 767px) {
  .upload .flex_row {
    width: 112.86%;
  }
}
@media (max-width: 479px) {
  .upload .flex_row {
    flex-direction: column;
    gap: 8px 10px;
  }
}
.upload .flex_col1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 7px 0px;
  width: 222px;
}
@media (max-width: 479px) {
  .upload .flex_col1 {
    margin-bottom: unset;
    margin-top: unset;
    width: 100%;
  }
}
.upload .medium_title2 {
  align-items: center;
  color: black;
  display: flex;
  font: 700 24px/1.5 "Poppins", Helvetica, Arial, serif;
  width: 100%;
}
.upload .rect2 {
  border-radius: 5px 5px 5px 5px;
  min-height: 47px;
  outline: 2px solid rgba(0, 0, 0, 0.498);
  outline-offset: -2px;
  width: 100%;
}
.upload .flex_col2 {
  display: flex;
  flex-direction: column;
  gap: 7px 0px;
  width: 222px;
}
@media (max-width: 767px) {
  .upload .flex_col2 {
    margin: 0% 0px 6%;
    width: 32.24%;
  }
}
@media (max-width: 479px) {
  .upload .flex_col2 {
    margin-bottom: unset;
    margin-top: unset;
    width: 100%;
  }
}
.upload .medium_title3 {
  align-items: center;
  color: black;
  display: flex;
  font: 700 24px/1.5 "Poppins", Helvetica, Arial, serif;
  margin: 0px 32px 0px 0px;
}
.upload .rect21 {
  border-radius: 5px 5px 5px 5px;
  min-height: 47px;
  outline: 2px solid rgba(0, 0, 0, 0.498);
  outline-offset: -2px;
}
.upload .content_box {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px 5px 5px 5px;
  bottom: 29px;
  display: flex;
  flex-direction: column;
  height: 67px;
  left: 336px;
  position: absolute;
  width: 417px;
}
@media (max-width: 1199px) {
  .upload .content_box {
    left: 29.45%;
  }
}
@media (max-width: 991px) {
  .upload .content_box {
    left: 24.45%;
    width: 53.94%;
  }
}
@media (max-width: 479px) {
  .upload .content_box {
    bottom: -159px;
  }
}
.upload .medium_title4 {
  align-items: center;
  color: black;
  display: flex;
  font: 700 24px/1.5 "Poppins", Helvetica, Arial, serif;
  margin: 14.5px auto 16.5px;
}